<section>
  <div class="container md:container">
    <div class="details secondary">
      <div class="g-root g-no-hidden g-gap-5 md:g-gap-8">
        <div class="g-row">
          <div class="g-item-12 sm:g-item-6 md:g-item-7">
            <figure class="aspect-ratio aspect-4-3 invert fit">
              <img src="../../../stories/assets/placeholder-2.jpg" alt="Placeholder 2" />
            </figure>
          </div>
          <div class="g-item-12 sm:g-item-6 md:g-item-5">
            <article class="g-root g-no-hidden g-gap-4 md:g-gap-5">
              <div class="g-row">
                <header class="g-item-12">
                  <h2 class="text-xl sm:text-lg md:text-2xl text-color-primary">Product Name</h2>
                </header>
                <section class="g-item-12">
                  <hr>
                </section>
                <section class="g-item-12">
                  <ul>
                    <li class="text-base mb-2">
                      <strong>Topic 1:</strong> <span>value 1</span>
                    </li>
                    <li class="text-base mb-2">
                      <strong>Topic 2:</strong> <span>value 2</span>
                    </li>
                    <li class="text-base mb-2">
                      <strong>Topic 3:</strong> <span>value 3</span>
                    </li>
                    <li class="text-base">
                      <strong>Topic 4:</strong> <span>value 4</span>
                    </li>
                  </ul>
                </section>
                <section class="g-item-12">
                  <hr>
                </section>
                <footer class="g-item-12">
                  <button class="gn-button pm-button full small md:regular">Comprar</button>
                </footer>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>