<section class="about primary">
  <div class="container lg:container">
    <div class="g-root sm:g-gap-8">
      <div class="g-row">
        <div class="g-item-12 md:g-item-6">
          <div>
            <img src="../../assets/placeholder-1.svg" alt="Place Holder" />
          </div>
        </div>
        <div class="g-item-12 md:g-item-6 lg:g-item-5">
          <div>
            <h2 class='text-2xl sm:text-3xl text-mb-4 text-color-primary'>
              <%= title %>
            </h2>
            <p class="text-base sm:text-xl text-mb-4">
              <%= subtitle %>
            </p>
            <ul class="list secondary">
              <% if (item1) { %>
              <li class="text-sm sm:text-base">
                <%= item1 %>
              </li>
              <% } %>
              <% if (item2) { %>
              <li class="text-sm sm:text-base">
                <%= item2 %>
              </li>
              <% } %>
              <% if (item3) { %>
              <li class="text-sm sm:text-base">
                <%= item3 %>
              </li>
              <% } %>
              <% if (item4) { %>
              <li class="text-sm sm:text-base">
                <%= item4 %>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>