.title-subtitle {
  &.primary {
    .title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .subtitle {
      font-style: 18px;
      margin-bottom: 16px;
    }
  }
}