@import "../../../styles/base/global";
@import "../../../styles/themes/theme";
@import "../../../styles/utilities/mixins";
@import "../../../styles/components/buttons";

.banner {
  background-color: $neutral-color-100;

  .container {
    @include flex-center-between;
    gap: 2rem;
    height: 610px;
  }

  .left {
    @include max-width(612px);

    h2 {
      font-weight: 700;
      font-size: 4rem;
      color: $primary-color-400;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
      color: #8ca2c0;
      margin-bottom: 1.5rem;
    }
  }
}
@include md {
  .banner {
  }
}
