<section class="tertiary-banner">
  <div class="container">
    <div>
      <img src="../../assets/placeholder-1.svg" alt="Place Holder" />
      <h2>Best burger in town</h2>
      <p>
        Welcome to Burger Bliss, where we take your cravings to a whole new
        level! Our mouthwatering burgers are made from 100% beef and are served
        on freshly baked buns.
      </p>
      <div class="buttons">
        <a class="gn-button pm-button" href="/">Order now</a>
        <a class="gn-button sc-button" href="/">Explore</a>
      </div>
    </div>
  </div>
</section>
