<section class="contacts">
  <div class="container md:container">
    <h2 class="title">Contats</h2>
    <p class="subtitle">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium veniam rerum, voluptatem impedit
      necessitatibus.
    </p>
    <div class="g-root g-gap-0">
      <div class="g-row">
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item">
            <img src="../../assets/marker.svg" alt="<%= address_title %>" class="icon">
            <h3><%= address_title %></h3>
            <p><%= address_subtitle %></p>
          </div>
        </div>
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item dividers">
            <img src="../../assets/phone.svg" alt="<%= phone_title %>" class="icon">
            <h3><%= phone_title %></h3>
            <p><%= phone_subtitle %></p>
          </div>
        </div>
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item">
            <img src="../../assets/mail.svg" alt="<%= email_title %>" class="icon">
            <h3><%= email_title %></h3>
            <p><%= email_subtitle %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470400.7386830834!2d-43.77565508292252!3d-22.91315798611381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bde559108a05b%3A0x50dc426c672fd24e!2sRio%20de%20Janeiro%2C%20State%20of%20Rio%20de%20Janeiro!5e0!3m2!1sen!2sbr!4v1725457331794!5m2!1sen!2sbr" width="600" height="312" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>