<div class="container lg:container">
  <div class="g-root g-no-hidden g-gap-8 md:g-gap-4">
    <div class="g-row">
      <% for (let i=0; i < 3; i++) { %>
        <div class="g-item-12 md:g-item-4">
          <article class="topic quaternary">
            <img class="icon" src="../../assets/icon-placeholder.svg" alt="Icon">
            <h3 class="text-xl text-mb-1 text-align-center">Lorem, ipsum dolor.</h3>
            <p class="text-sm text-align-center">Lorem ipsum dolor sit amet consectetur.
            </p>
          </article>
        </div>
        <% } %>
    </div>
  </div>
</div>