<section>
  <div class="container">
    <div class="details">
      <figure class="main-image">
        <img src="../../assets/placeholder-2.jpg" alt="Placeholder 2" />
      </figure>
      <aside class="main-infos">
        <article>
          <header>
            <h2>Product Name</h2>
            <p>5/5</p>
          </header>
          <section>
            <ul>
              <li>
                <strong>Topic 1:</strong> <span>value 1</span>
              </li>
              <li>
                <strong>Topic 2:</strong> <span>value 2</span>
              </li>
              <li>
                <strong>Topic 3:</strong> <span>value 3</span>
              </li>
              <li>
                <strong>Topic 4:</strong> <span>value 4</span>
              </li>
            </ul>
          </section>
          <footer>
            <li>
              <strong>Price:</strong> <span>R$ 99,99</span>
            </li>
          </footer>
        </article>
        <Button class="gn-button pm-button">Comprar</Button>
      </aside>
    </div>
  </div>
</section>