@mixin xl {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 976px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin media-height($max-height) {
  @media (max-height: $max-height) {
    @content;
  }
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-min-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@mixin border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@mixin background-image($url, $size: cover) {
  background-image: url($url);
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin max-width($width, $marginAuto: false) {
  width: 100%;
  max-width: $width;
  @if ($marginAuto == true) {
    margin: 0px auto;
  }
}

@mixin reset-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@mixin square($dimention) {
  width: $dimention;
  height: $dimention;
}

@mixin opacity($value) {
  @if ($value == false) {
    opacity: 0;
    pointer-events: none;
  } @else {
    opacity: 1;
    pointer-events: all;
  }
}
@mixin insert {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
