.order-item {
  display: flex;
  padding: 24px;
  background-color: #EFEFEF;
  border-radius: 8px;

  .img {
    min-width: 64px;
    margin-right: 16px;

    a {
      font-size: 0;
    }

    .aspect-ratio {
      border-radius: 8px;
    }
  }

  .order-item-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .order-item-info-left {

      h3,
      p {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      h3 {
        @include max-width(240px);
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        .wating {
          color: #F8BD00;
        }

        .preparing {
          color: #00C595;
        }

        .on-the-way {
          color: #007AEA;
        }

        .delivered {
          color: #00C52B;
        }

        .canceled {
          color: #C51800;
        }
      }
    }

    .order-item-info-right {
      text-align: right;

      p {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  @include sm {
    padding: 20px;

    .img {
      margin-right: 8px;
    }

    .order-item-info {
      flex-direction: column;

      .order-item-info-left {
        margin-bottom: 8px;

        h3 {
          font-size: 18px;
          width: auto;
          max-width: unset;
          white-space: unset;
        }
      }

      .order-item-info-right {
        text-align-last: left;
      }
    }
  }

  @include xs {
    padding: 16px;
  }
}