<section class="about quaternary">
  <div class="container md:container">
    <div class="g-root g-gap-4">
      <div class="g-row gy-center g-wrap-reverse sm:g-wrap">
        <div class="g-item-12 sm:g-item-6">
          <div>
            <div class="about-content">
              <p class="text-base sm:text-sm md:text-xl">
                <%= subtitle %>
              </p>
            </div>
          </div>
        </div>
        <div class="g-item-12 sm:g-item-6">
          <div class="aspect-ratio aspect-4-3 invert height img">
            <div>
              <h2 class='text-4xl md:text-6xl text-color-dark'>
                <%= title %>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>