<section class="about quinary">
  <div class="container md:container">
    <div class="g-root g-gap-4">
      <div class="g-row">
        <div class="g-item-12 sm:g-item-7">
          <div>
            <div class="about-content">
              <div class="about-title">
                <p class="text-xs md:text-base">
                  Lorem, ipsum.
                </p>
                <h2 class="text-2xl md:text-4xl">
                  <%= title %>
                </h2>
              </div>
              <div class="about-subtext">
                <p class="text-base md:text-lg mb-4">
                  <%= subtitle %>
                </p>
                <p class="text-sm md:text-base">
                  <%= description %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="g-item-12 sm:g-item-5">
          <div class="aspect-ratio aspect-4-3 invert height img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>