<section class="about secondary">
  <div class="container lg:container">
    <div class="g-root">
      <div class="g-row gy-center">
        <div class="g-item-12 md:g-item-7 lg:g-item-8">
          <div class="img"></div>
        </div>
        <div class="g-item-12 md:g-item-5 lg:g-item-4">
          <div class="about-right">
            <h2 class='text-3xl sm:text-4xl lg:text-5xl text-center mb-4 text-color-primary'>
              <%= title %>
            </h2>
            <p class="text-base text-center">
              <%= subtitle %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>