<section class="about senary">
  <div class="container lg:container">
    <div class="g-root g-gap-8">
      <div class="g-row gy-center">
        <div class="g-item-12 md:g-item-6">
          <div class="aspect-ratio aspect-1-1 img"></div>
        </div>
        <div class="g-item-12 md:g-item-6 lg:g-item-5">
          <div class="about-content text-center">
            <h2 class='text-3xl sm:text-4xl mb-4 text-color-primary'>
              <%= title %>
            </h2>
            <div class="about-subtext">
              <p class="text-base">
                <%= subtitle %>
              </p>
              <hr>
              <p class="text-base sm:text-xl">
                <%= description %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>