<section class="about tertiary">
  <div class="container md:container">
    <div class="g-root g-gap-12 sm:g-gap-0">
      <div class="g-row gy-center">
        <div class="g-item-12 sm:g-item-7">
          <div class="aspect-ratio aspect-4-3 invert height img"></div>
        </div>
        <div class="g-item-12 sm:g-item-5">
          <div>
            <div class="about-circle"></div>
            <div class="about-content">
              <h2 class='text-3xl md:text-6xl mb-3 md:mb-5 text-color-primary'>
                <%= title %>
              </h2>
              <p class="text-xs md:text-base mb-3 md:mb-5">
                <%= subtitle %>
              </p>
              <a href="/" class="gn-button pm-button small md:regular">
                <%= button %>
              </a>
            </div>
            <div class="about-rect"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>