.footer.secondary {
  background-color: $primary-color-800;
  color: $neutral-color-50;

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-top {
    .social-links a::after {
      background-color: $neutral-color-50;
    }

    a {
      text-decoration: underline;
      color: $neutral-color-50;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $neutral-color-50;
    margin: 32px 0px;
  }

  @include md {
    .container {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }
}