.banner {
  background-color: $neutral-color-50;
  padding: 32px 0px;

  @include sm {
    padding: 64px 0px;
  }
}

.banner.tertirary {
  .container>div {
    @include max-width(570px, true);
  }

  .main-icon {
    @include max-width(312px, true);
    margin-bottom: 1rem;
  }
}