<section class="banner primary{{ " light" if light else "" }}">
  <div class="container md:container">
    <div class="g-root g-no-hidden g-gap-8">
      <div class="g-row{{ "" if invert else " g-wrap-reverse" }}">
        {% if invert %}
        <div class="g-item-12 md:g-item-6">
          <div>
            <figure class="aspect-ratio {{aspect_ratio}} fit image">
              <img src="../../../stories/assets/placeholder-3.webp" alt="Place Holder" />
            </figure>
          </div>
        </div>
        {% endif %}
        <div class="g-item-12 md:g-item-6">
          <div>
            {% if tag %}
            <p class="gn-button pm-button xsmall circular mb-4">{{tag}}</p>
            {% endif %}

            <h2 class="text-2xl sm:text-2xl md:text-4xl mb-5">
              {{title}}
            </h2>

            {% if subtitle %}
            <p class="text-base sm:text-xl mb-5">
              {{subtitle}}
            </p>
            {% endif %}

            {% if button1 and button2 %}
            <div class="g-root g-gap-2 sm:g-gap-4 mb-5">
              <div class="g-row">
                <div class="g-item-12 sm:g-item-6">
                  <div><a class="gn-button {{ " pm-button" if light else "tt-button" }} full" href="/">{{button1}}</a>
                  </div>
                </div>
                <div class="g-item-12 sm:g-item-6">
                  <div><a class="gn-button {{ " sc-button" if light else "qt-button" }} full" href="/">{{button2}}</a>
                  </div>
                </div>
              </div>
            </div>
            {% elseif button1 or button2 %}
            {% if button1 %}
            <a class="gn-button {{ " pm-button" if light else "tt-button" }} full mb-5" href="/">{{button1}}</a>
            {% else %}
            <a class="gn-button {{ " sc-button" if light else "qt-button" }} full mb-5" href="/">{{button2}}</a>
            {% endif %}
            {% endif %}

            {% if topics %}
            <div class="g-root g-no-hidden g-gap-8 md:g-gap-4">
              <div class="g-row">
                <div class="g-item-12 sm:g-item-4 md:g-item-5">
                  <article class="topic quaternary">
                    <h3 class="text-2xl text-align-center">+10</h3>
                    <p class="text-sm text-align-center">Years of experience</p>
                  </article>
                </div>

                <div class="g-item-12 sm:g-item-4 md:g-item-4">
                  <article class="topic quaternary">
                    <h3 class="text-2xl text-align-center">+100</h3>
                    <p class="text-sm text-align-center">Projects delivered</p>
                  </article>
                </div>

                <div class="g-item-12 sm:g-item-4 md:g-item-3">
                  <article class="topic quaternary">
                    <h3 class="text-2xl text-align-center">5</h3>
                    <p class="text-sm text-align-center">Sponsors</p>
                  </article>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% if not invert %}
        <div class="g-item-12 md:g-item-6">
          <div>
            <figure class="aspect-ratio {{aspect_ratio}} fit image">
              <img src="../../../stories/assets/placeholder-3.webp" alt="Place Holder" />
            </figure>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>