<section class="banner">
  <div class="container">
    <div class="g-root g-gap-8">
      <div class="g-row">
        <div class="g-item-12 sm:g-item-6">
          <div>
            <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-mb-4 text-color-primary">
              Best burger in town
            </h2>
            <p class="text-lg sm:text-xl text-mb-4 text-color-primary">
              Welcome to Burger Bliss, where we take your cravings to a whole new
              level! Our mouthwatering burgers are made from 100% beef and are served
              on freshly baked buns.
            </p>
            <a class="gn-button sc-button full" href="/">Explore</a>
          </div>
        </div>
        <div class="g-item-12 sm:g-item-6">
          <div>
            <figure class="aspect-ratio aspect-16-9 fit">
              <img src="../../../stories/assets/placeholder-1.svg" alt="Place Holder" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>