<section class="secondary-banner">
  <div class="container">
    <div class="left">
      <img src="../../../stories/assets/placeholder-1.svg" alt="Place Holder" />
    </div>
    <div class="right">
      <h2>Best burger in town</h2>
      <p>
        Welcome to Burger Bliss, where we take your cravings to a whole new
        level! Our mouthwatering burgers are made from 100% beef and are served
        on freshly baked buns.
      </p>
      <a class="gn-button sc-button" href="/">Explore</a>
    </div>
  </div>
</section>