<section class="banner secondary{{ " light" if light else "" }}">
  <div class="container sm:container">
    <div>
      {% if image %}
      <div class="image">
        <figure class="aspect-ratio {{aspect_ratio}} fit text-mb-4">
          <img src="../../../stories/assets/placeholder-3.webp" alt="Place Holder" />
        </figure>
      </div>
      {% endif %}
      <h2 class="text-3xl sm:text-4xl text-mb-4 text-align-center">
        {{title}}
      </h2>
      {% if line %}
      <hr>
      {% endif %}
      <p class="text-lg sm:text-xl text-mb-4 text-align-center">
        {{subtitle}}
      </p>
      <div class="g-root g-gap-2 sm:g-gap-4 text-mb-5">
        <div class="g-row gx-center">
          {% if button1 %}
          <div class="g-item-12 sm:g-item-4">
            <div><a class="gn-button {{ " pm-button" if light else "tt-button" }} full" href="/">{{button1}}</a></div>
          </div>
          {% endif %}
          {% if button2 %}
          <div class="g-item-12 sm:g-item-4">
            <div><a class="gn-button {{ " sc-button" if light else "qt-button" }} full" href="/">{{button2}}</a></div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>