<section class="banner tertirary">
  <div class="container">
    <div>
      <div class="main-icon">
        <figure class="aspect-ratio aspect-16-9 fit">
          <img src="../../../stories/assets/placeholder-1.svg" alt="Place Holder" />
        </figure>
      </div>
      <h2 class="text-3xl sm:text-4xl md:text-5xl text-mb-4 text-align-center text-color-primary">
        Best burger in town
      </h2>
      <p class="text-lg sm:text-xl text-mb-4 text-color-primary text-align-center">
        Welcome to Burger Bliss, where we take your cravings to a whole new
        level! Our mouthwatering burgers are made from 100% beef and are served
        on freshly baked buns.
      </p>
      <div class="container">
        <div class="g-root g-gap-2 sm:g-gap-4">
          <div class="g-row gx-center">
            <div class="g-item-12 sm:g-item-auto">
              <a class="gn-button pm-button full sm:fit" href="/">Order now</a>
            </div>
            <div class="g-item-12 sm:g-item-auto">
              <a class="gn-button sc-button full sm:fit" href="/">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>