.topics {
  // display: flex;
  // @include max-width(960px);
  // flex-wrap: wrap;
  background-color: $neutral-color-200;
}

.topic.primary {
  display: flex;
  border: $primary-border;
  border-radius: 16px;
  padding: 16px;

  .left {
    margin-right: 12px;

    .icon {
      @include square(64px);
    }
  }

  .right {
    color: $neutral-color-800;

    .title {
      font-size: 16px;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
    }
  }

}