.topic.tertiary {
  display: flex;
  box-shadow: $box-shadow-200;
  border-radius: 4px;
  padding: 40px;
  height: 100%;

  .topic-left {
    margin-right: 12px;

    .icon {
      display: block;
      @include square(64px);
    }
  }

  .topic-right {
    color: $neutral-color-800;
  }

  @include md {
    flex-direction: column;
    padding: 32px;

    .topic-left {
      margin-right: 0px;
      margin-bottom: 4px;

      .icon {
        margin: 0px auto;
      }
    }
  }
}