<div class="order-item">
  <div class="img">
    <a href="/">
      <figure class="aspect-ratio aspect-1-1 fit">
        <img src="../../stories/assets/placeholder-1.svg" alt="Placeholder">
      </figure>
    </a>
  </div>
  <div class="order-item-info">
    <div class="order-item-info-left">
      <h3 class="text-lg sm:text-xl">The title of the product</h3>
      <p>Status: <strong class="delivered">Entregue</strong></p>
      <p>Entregue em 01/01/2025</p>
      <p>Total: <strong>R$ 9.999,99</strong></p>
      <p>Taxa de entrega <strong>R$ 6,00</strong></p>
      <p>10% de desconto</p>
    </div>
    <div class="order-item-info-right">
      <p>2 unidades</p>
      <p>Cartão de débito</p>
      <button class="gn-button pm-button small">
        Comprar novamente
      </button>
    </div>
  </div>
</div>