<div class="modal secondary cart-modal active">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="text-2xl sm:text-3xl">Carrinho</h2>
      <button class="modal-close"></button>
    </div>
    <div class="modal-body">
      <div class="g-root g-gap-4 sm:g-gap-5 g-hidden">
        <div class="g-row">
          {% for item in [0,1,2,3] %}
          <div class="g-item-12">
            <div class="cart-item">
              <a href="/" class="img">
                <figure class="aspect-ratio aspect-1-1 fit">
                  <img src="../../../stories/assets/placeholder-1.svg" alt="Placeholder">
                </figure>
              </a>
              <div class="cart-item-center">
                <h3 class="text-sm mb-2">
                  <a href="/">Lorem ipsum dolor sit amet.</a>
                </h3>
                <div class="counter small">
                  <button class="counter-button">
                    <span class="sign minus"></span>
                  </button>
                  <p class="counter-input" type="text">999</p>
                  <button class="counter-button">
                    <span class="sign"></span>
                  </button>
                </div>
                <p class="price">
                  {% if item == 0 %}
                  <s class="text-xs xs:text-sm sm:text-base">R$ 999,99</s>
                  {% endif %}
                  <span class="text-xs xs:text-sm sm:text-base">R$ 999,99</span>
                  {% if item == 0 %}
                  <span class="discount text-xs">-10%</span>
                  {% endif %}
                </p>
              </div>
              <button class="delete" type="button"></button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="g-root g-gap-2 sm:g-gap-4">
        <div class="g-row">
          <div class="g-item-12">
            <hr>
          </div>

          <div class="g-item-12">
            <div class="cart-total">
              <div class="g-root g-gap-2">
                <div class="g-row">
                  <div class="g-item-12">
                    <div class="cart-total-item">
                      <p>Shipping fee</p>
                      <p>R$ <strong>99,99</strong></p>
                    </div>
                  </div>

                  <div class="g-item-12">
                    <div class="cart-total-item">
                      <p>Total</p>
                      <p>R$ <strong>99,99</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="g-item-12">
            <button class="gn-button pm-button full small sm:regular">Comprar</button>
          </div>

          <div class="g-item-12">
            <button class="gn-button sc-button full small sm:regular">Fechar carrinho</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>