<aside class="{{className}}">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="text-2xl text-primary-900">Menu</h2>
      <button class="modal-close"></button>
    </div>
    <div class="modal-body">
      <nav>
        <a class="link" href="/">{% include AngleDoubleRightSvg %}Home</a>
        <a class="link" href="/">{% include AngleDoubleRightSvg %}About</a>
        <a class="link" href="/">{% include AngleDoubleRightSvg %}Contact</a>
      </nav>
    </div>

    <div class="modal-footer">
      <a class="gn-button sc-button full" href="/">Click me</a>
    </div>
  </div>
</aside>