<div class="modal primary active">
  <div class="modal-content">
    <button class="modal-close"></button>
    <div>
      <h2 class="text-2xl text-primary-900 mb-4 text-center">Primary Modal</h2>
      <p class="text-base text-neutral-600 mb-4 text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <button class="gn-button pm-button center">Click me</button>
    </div>
  </div>
</div>