<div class="{{className}}">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="text-2xl text-primary-900">Secondary modal</h2>
      <button class="modal-close"></button>
    </div>
    <div class="modal-body">
      <p class="text-base text-neutral-600 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p class="text-base text-neutral-600 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p class="text-base text-neutral-600 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p class="text-base text-neutral-600 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p class="text-base text-neutral-600 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p class="text-base text-neutral-600 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p class="text-base text-neutral-600">
    </div>
    <div class="modal-footer">
      <button class="gn-button pm-button full">Close modal</button>
    </div>
  </div>
</div>