<div class="container">
  <div class="g-root g-gap-2">
    <div class="g-row g-center">
      <% for (let i=0; i < 2; i++) { %>
        <div class="g-item-12 sm:g-item-4">
          <div>g-center</div>
        </div>
        <% } %>
    </div>
  </div>
  <div class="g-root g-gap-2">
    <div class="g-row g-left">
      <% for (let i=0; i < 2; i++) { %>
        <div class="g-item-12 sm:g-item-4">
          <div>g-left</div>
        </div>
        <% } %>
    </div>
  </div>
  <div class="g-root g-gap-2">
    <div class="g-row g-right">
      <% for (let i=0; i < 2; i++) { %>
        <div class="g-item-12 sm:g-item-4">
          <div>g-right</div>
        </div>
        <% } %>
    </div>
  </div>
  <div class="g-root g-gap-2">
    <div class="g-row sm:g-right md:g-center lg:g-left">
      <% for (let i=0; i < 2; i++) { %>
        <div class="g-item-12 sm:g-item-4">
          <div>responsive</div>
        </div>
        <% } %>
    </div>
  </div>
</div>