<div class="g-root g-hidden g-gap-2">
  <div class="g-row gx-center">
    <% for (let i=0; i < 2; i++) { %>
      <div class="g-item-12 sm:g-item-4">
        <div>gx-center</div>
      </div>
      <% } %>
  </div>
</div>
<div class="g-root g-hidden g-gap-2">
  <div class="g-row gx-left">
    <% for (let i=0; i < 2; i++) { %>
      <div class="g-item-12 sm:g-item-4">
        <div>gx-left</div>
      </div>
      <% } %>
  </div>
</div>
<div class="g-root g-hidden g-gap-2">
  <div class="g-row gx-right">
    <% for (let i=0; i < 2; i++) { %>
      <div class="g-item-12 sm:g-item-4">
        <div>gx-right</div>
      </div>
      <% } %>
  </div>
</div>
<div class="g-root g-hidden g-gap-2">
  <div class="g-row sm:gx-right md:gx-center lg:gx-left">
    <% for (let i=0; i < 2; i++) { %>
      <div class="g-item-12 sm:g-item-4">
        <div>responsive</div>
      </div>
      <% } %>
  </div>
</div>