<div class="container">
  <div class="g-root g-gap-2 sm:g-gap-4 md:g-gap-0">
    <div class="g-row">
      <% for (let i=0; i < 2; i++) { %>
        <div class="g-item-12 sm:g-item-6">
          <div class="content-example">
            <h3>g-item-6</h3>
          </div>
        </div>
        <% } %>
          <% for (let i=0; i < 3; i++) { %>
            <div class="g-item-12 xs:g-item-4">
              <div class="content-example">
                <h3>g-item-4</h3>
              </div>
            </div>
            <% } %>
              <div class="g-item-12 xs:g-item-5">
                <div class="content-example">
                  <h3>g-item-5</h3>
                </div>
              </div>
              <div class="g-item-12 xs:g-item-7">
                <div class="content-example">
                  <h3>g-item-7</h3>
                </div>
              </div>
    </div>
  </div>
</div>