<div class="g-root g-gap-2">
  <div class="g-row gy-start">
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>gy-start</p>
        <p>gy-start</p>
      </div>
    </div>
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>gy-start</p>
      </div>
    </div>
  </div>
</div>
<div class="g-root g-gap-2">
  <div class="g-row gy-center">
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>gy-center</p>
        <p>gy-center</p>
      </div>
    </div>
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>gy-center</p>
      </div>
    </div>
  </div>
</div>
<div class="g-root g-gap-2">
  <div class="g-row gy-end">
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>gy-end</p>
        <p>gy-end</p>
      </div>
    </div>
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>gy-end</p>
      </div>
    </div>
  </div>
</div>
<div class="g-root g-gap-2">
  <div class="g-row sm:gy-end md:gy-center lg:gy-start">
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>responsive</p>
        <p>responsive</p>
      </div>
    </div>
    <div class="g-item-12 sm:g-item-6">
      <div>
        <p>responsive</p>
      </div>
    </div>
  </div>
</div>