<div class="topic order">
  <div class="order-top">
    <div>
      <p class="text-sm">Criado: 01/01/2025 12:30:00</p>
      <p class="text-sm">Entregue: 01/01/2025 13:30:00</p>
      <p class="text-sm">Status: <strong class="delivered">Entregue</strong></p>
    </div>
    <div>
      <p class="text-sm text-align-left sm:text-align-right mb-1">Cartão de débito</p>
      <button class="gn-button sc-button small left sm:right">Cancelar pedido</button>
    </div>
  </div>
  {% for item in [1,2] %}
  <div class="order-item">
    <div class="img">
      <a href="/">
        <figure class="aspect-ratio aspect-1-1 fit">
          <img src="../../../stories/assets/placeholder-1.svg" alt="Placeholder">
        </figure>
      </a>
    </div>
    <div class="order-item-info">
      <div class="order-item-info-left">
        <h3 class="text-lg sm:text-xl text-color-primary">
          The title of the product
        </h3>
        <p class="text-base">Taxa de entrega: <strong>R$ 6,00</strong></p>
        <p class="text-base sm:mb-0">Total: <strong>R$ 9.999,99</strong></p>
      </div>
      <div class="order-item-info-right">
        <p class="text-base text-align-left sm:text-align-right">2 unidades</p>
        <p class="text-base text-align-left sm:text-align-right">10% de desconto</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>