.card.secondary {
  @include max-width(272px);
  color: $neutral-color-700;
  background-color: $neutral-color-50;
  box-shadow: $box-shadow-200;

  $mb: 16px;

  a {
    font-size: 0;
  }

  .description {
    padding: $mb;
  }

  .title {
    font-weight: 400;
    margin-bottom: 4px;
  }

  .subtitle,
  .price {
    margin-bottom: 4px;
  }

  .link {
    color: $primary-color-500;
  }
}