.header.primary {
  position: relative;
  background-color: $neutral-color-50;
  box-shadow: $box-shadow-200;

  .container {
    height: 64px;
    @include flex-align-center;
  }

  .logo {
    font-size: 1.75rem;
    color: $primary-color-500;
  }
}