<div class="container">
  <p class="example">container</p>
</div>
<div class="container xs:container">
  <p class="example">xs 320px</p>
</div>
<div class="container sm:container">
  <p class="example">sm 640px</p>
</div>
<div class="container md:container">
  <p class="example">md 768px</p>
</div>
<div class="container lg:container">
  <p class="example">lg 1024px</p>
</div>
<div class="container xl:container">
  <p class="example">xl 1280px</p>
</div>
<div class="container xs:container md:container">
  <p class="example">xs 320px md 768px</p>
</div>