<section class="section primary">
  <div class="container">
    <div class="left">
      <h2>Best burger in town</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima voluptates quod, porro magni corrupti, nihil
        veritatis voluptate nulla natus architecto tenetur omnis accusantium facere, cupiditate eum aut repellat
        accusamus voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </p>
      <p class="price tertiary">
        <span class="price-left">
          <span>R$</span>
        </span>
        <strong>999,99</strong>
        <span class="price-right">
          <span>/mês</span>
        </span>
      </p>
      <a class="gn-button sc-button" href="/">Buy now</a>
    </div>
    <div class="right">
      <img src="../../assets/placeholder-1.svg" alt="Place Holder" />
    </div>
  </div>
</section>