.gn-button {
  $height: 48px;
  $padding: 20px;
  @include flex-center-center;
  width: fit-content;
  height: $height;
  padding: 0px $padding;
  font-size: 1rem;
  color: $primary-color-500;
  cursor: pointer;
  border-radius: 32px;
  border: none;
  outline: none;
  background-color: $neutral-color-100;
  transition: all 0.2s ease 0s;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.full {
    width: 100%;
  }

  &.center {
    margin: 0px auto;
  }

  &.bold {
    font-weight: 800;
    border-width: 3px;
  }

  &.large {
    font-size: 1.25rem;
    height: $height + 12px;
    padding: 0px $padding + 4px;
  }

  &.small {
    font-size: 0.875rem;
    height: $height - 12px;
    padding: 0px $padding - 4px;
  }
}

.pm-button {
  background-color: $primary-color-500;
  color: $neutral-color-100;
}

.sc-button {
  background-color: transparent;
  border: $primary-border;
}