.card {
  position: relative;
  @include max-width(272px);
  color: $neutral-color-700;
  background-color: $neutral-color-50;
  @include box-shadow-200;
  border-radius: 8px;

  >a {
    font-size: 0;
  }

  .icon {
    @include square(80px);
    margin: 0px auto 16px;

    img,
    svg {

      border-radius: 80px;
    }
  }

  .cart-count {
    $area: 24px;

    user-select: none;
    @include flex-center-center;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    height: $area;
    line-height: $area;
    min-width: $area;
    font-size: 16px;
    background-color: $primary-color-500;
    color: $neutral-color-50;
    border: 1px solid $neutral-color-50;
    border-radius: $area;
    padding: 0px 6px;
    opacity: 0;
    transform: scale(0);
    transition: opacity $primary-transition, transform $primary-transition;
    text-align: center;


    &.active {
      opacity: 1;
      transform: scale(1)
    }
  }

  >div {
    padding: 16px;
  }

  .price {
    @include flex-align-center;
    gap: 6px;

    .discount {
      user-select: none;
      padding: 2px 4px;
      color: $neutral-color-50;
      background-color: $primary-color-500;
      border-radius: 4px;
    }
  }
}