// font
$f-font-size: 16;
$f-font-size-small: $f-font-size - 2;
$f-font-size-large: $f-font-size + 2;

// padding
$f-padding: 16px;
$f-padding-small: $f-padding - 6px;
$f-padding-large: $f-padding + 6px;

// dimentions
$f-input-height: 56px;
$f-input-height-small: $f-input-height - 24px;
$f-input-height-large: $f-input-height + 24px;
$f-width: 312px;

// borders
$f-border-radius: 8px;
$f-primary-border-width: 1px;
$f-primary-border: $f-primary-border-width solid;

// outline width
$f-margin-gap-label-span: 4px;
$f-width-left: $f-padding - $f-margin-gap-label-span - $f-primary-border-width;
$f-width-left-small: $f-padding-small - $f-margin-gap-label-span - $f-primary-border-width;
$f-width-left-large: $f-padding-large - $f-margin-gap-label-span - $f-primary-border-width;

// svg
$svg-dimention: 16px;
$svg-dimention-small: $svg-dimention - 4px;
$svg-dimention-large: $svg-dimention + 8px;

.f-row {
  position: relative;
  width: 100%;
  // max-width: $f-width;
}

.f-label {
  display: block;
  margin-bottom: 4px;
}

.f-input,
.f-select {
  display: block;
  width: 100%;
  height: $f-input-height;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  border-radius: $f-border-radius;
  padding: $f-padding;
  outline: none;
  border: $f-primary-border;
  transition: border $primary-transition;
  background-color: transparent;

  &:focus~.f-label,
  &:hover~.f-label {
    top: -(#{$f-font-size}px / 2);
  }

  border-color: $primary-color-500;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $primary-color-200;
  }

  &.transparent {
    color: transparent;
    user-select: none;

    &::placeholder {
      color: $primary-color-200;
    }
  }

  &.error {
    border-color: $error-color-100;
  }

  &.success {
    border-color: $success-color-100;
  }

  &.small {
    padding: $f-padding-small;
    font-size: #{$f-font-size-small}px;
    height: $f-input-height-small;
    border-radius: $f-border-radius;
  }

  &.large {
    padding: $f-padding-large;
    font-size: #{$f-font-size-large}px;
    height: $f-input-height-large;
    border-radius: $f-border-radius;
  }
}

// icon on the right side
// input.input {

//   &.error,
//   &.success {
//     background-repeat: no-repeat;
//     background-size: 16px;
//     background-position: calc(100% - $padding) center;
//   }

//   &.error {
//     background-image: url(pathImages("error.svg"));
//   }

//   &.success {
//     background-image: url(pathImages("check-valid.svg"));
//   }
// }

$f-margin: 4px;

.f-input.outline {
  border-top: none;

  &~.f-label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    // max-width: $f-width;
    display: flex;
    font-size: #{$f-font-size}px;
    line-height: #{$f-font-size}px;
    transition: font-size $primary-transition;

    padding: 0;
    background-color: transparent;
    pointer-events: none;

    &::before,
    &::after {
      content: "";
      border-top: $f-primary-border;
      height: 8px;
    }

    &::before {
      border-left: $f-primary-border;
      border-top-left-radius: $f-border-radius;
      border-color: $primary-color-500;
      width: $f-width-left;
    }

    &::after {
      border-right: $f-primary-border;
      border-top-right-radius: $f-border-radius;
      border-color: $primary-color-500;
      flex: 1;
    }

    span {
      position: absolute;
      top: calc(#{$f-input-height} / 2 - (#{$f-font-size}px / 2));
      left: $f-padding;
      transition: top $primary-transition;
    }
  }

  &:disabled:focus~.f-label,
  &:disabled:hover~.f-label {
    font-size: #{$f-font-size}px;
    line-height: #{$f-font-size}px;

    span {
      position: absolute;
      top: calc(#{$f-input-height} / 2 - (#{$f-font-size}px / 2));
      left: $f-padding;
      transition: top $primary-transition;
    }
  }

  &.active~.f-label,
  &:disabled.active~.f-label,
  &:focus~.f-label,
  &:hover~.f-label {
    font-size: #{$f-font-size - 2}px;
    line-height: #{$f-font-size - 2}px;

    span {
      position: relative;
      top: -8px;
      left: 0px;
    }
  }

  &:disabled:hover~.f-label::before {
    margin-right: 0px;
  }

  &.active~.f-label::before,
  &:disabled.active~.f-label::before,
  &:hover~.f-label::before,
  &:focus~.f-label::before {
    margin-right: $f-margin;
  }

  &:disabled:hover~.f-label::after {
    margin-left: 0px;
  }

  &.active~.f-label::after,
  &:disabled.active~.f-label::after,
  &:hover~.f-label::after,
  &:focus~.f-label::after {
    margin-left: $f-margin;
  }

  &:disabled~.f-label {
    opacity: 0.4;
  }

  &.error {

    ~.f-label::before,
    ~.f-label::after {
      border-color: $error-color-100;
    }
  }

  &.success {

    ~.f-label::before,
    ~.f-label::after {
      border-color: $success-color-100;
    }
  }

  &.small~.f-label {
    font-size: #{$f-font-size-small}px;
    line-height: #{$f-font-size-small}px;

    &::before {
      width: $f-width-left-small + $f-primary-border-width;
    }

    span {
      top: calc(#{$f-input-height-small} / 2 - (#{$f-font-size-small}px / 2));
      left: $f-padding-small + $f-primary-border-width;
    }
  }

  &.small.active~.f-label,
  &.small:disabled.active~.f-label,
  &.small:focus~.f-label,
  &.small:hover~.f-label {
    font-size: #{$f-font-size-small - 2}px;
    line-height: #{$f-font-size-small - 2}px;

    span {
      position: relative;
      top: -6px;
      left: 0px;
    }
  }

  &.large~.f-label {
    font-size: #{$f-font-size-large}px;
    line-height: #{$f-font-size-large}px;

    &::before {
      width: $f-width-left-large + $f-primary-border-width;
    }

    span {
      top: calc(#{$f-input-height-large} / 2 - (#{$f-font-size-large}px / 2));
      left: $f-padding-large + $f-primary-border-width;
    }
  }

  &.large.active~.f-label,
  &.large:disabled.active~.f-label,
  &.large:focus~.f-label,
  &.large:hover~.f-label {
    font-size: #{$f-font-size-large}px;
    line-height: #{$f-font-size-large}px;

    span {
      position: relative;
      top: -6px;
      left: 0px;
    }
  }
}

.f-input.filled {
  padding: 24px $f-padding $f-padding/2;

  &~.f-label {
    margin-bottom: 0;
    position: absolute;
    top: calc(#{$f-input-height} / 2 - (#{$f-font-size}px / 2));
    left: $f-padding + $f-primary-border-width;
    transition: $primary-transition;
    display: flex;
    font-size: #{$f-font-size}px;
    line-height: #{$f-font-size}px;
    background-color: transparent;
    pointer-events: none;
  }

  &:disabled~.f-label {
    opacity: 0.4;
  }

  &:disabled:hover~.f-label {
    top: calc(#{$f-input-height} / 2 - (#{$f-font-size}px / 2));
    font-size: #{$f-font-size}px;
  }

  &.active~.f-label,
  &:disabled.active~.f-label,
  &:focus~.f-label,
  &:hover~.f-label {
    font-size: #{$f-font-size - 2}px;
    top: $f-padding / 2;
  }

  &.small {
    padding: 24px $f-padding-small $f-padding-small/2;
  }

  &.small~.f-label {
    top: calc(#{$f-input-height-small} / 2 - (#{$f-font-size-small}px / 2));
    left: $f-padding-small + $f-primary-border-width;
    font-size: #{$f-font-size-small}px;
  }

  &.small.active~.f-label,
  &.small:disabled.active~.f-label,
  &.small:focus~.f-label,
  &.small:hover~.f-label {
    font-size: #{$f-font-size-small - 2}px;
    top: ($f-padding-small - 6px) / 2;
  }

  &.large {
    padding: 24px $f-padding-large $f-padding-large/2;
  }

  &.large~.f-label {
    top: calc(#{$f-input-height-large} / 2 - (#{$f-font-size-large}px / 2));
    left: $f-padding-large + $f-primary-border-width;
    font-size: #{$f-font-size-large}px;
  }

  &.large.active~.f-label,
  &.large:disabled.active~.f-label,
  &.large:focus~.f-label,
  &.large:hover~.f-label {
    font-size: #{$f-font-size-large}px;
    top: ($f-padding-large) / 2;
  }
}

.f-helper {
  display: block;
  font-size: 0.75rem;
  padding: 2px 12px 0px;

  &.error {
    color: $error-color-100;
  }

  &.success {
    color: $success-color-100;
  }
}

.f-container {
  position: relative;

  .f-right {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 16px;
    margin: auto;
    height: min-content;

    p {
      background-color: #1a1a1a;
      color: #f1f1f1;
      padding: 4px;
    }
  }

  input[name^="f-right"] {
    padding-right: 64px;
  }
}

.f-select {
  appearance: none;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;

  /* For IE10 */
  &::-ms-expand {
    display: none;
  }

  cursor: pointer;
  background-image: url(pathImages("select-arrow.svg"));
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: calc(100% - $f-padding) center;

  option:first-of-type {
    display: none;
  }
}

textarea.f-input {
  resize: vertical;
  min-height: $f-input-height * 2;
}

.f-search {
  @include flex-align-center;

  .f-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    &.small~.f-search-btn {
      padding: $f-padding-small;
      height: $f-input-height-small;

      svg {
        width: $svg-dimention-small;
        height: $svg-dimention-small;
      }
    }

    &.large~.f-search-btn {
      padding: $f-padding-large;
      height: $f-input-height-large;

      svg {
        width: $svg-dimention-large;
        height: $svg-dimention-large;
      }
    }
  }

  .f-search-btn {
    @include flex-align-center;
    @include reset-button;
    height: $f-input-height;
    padding: $f-padding;
    background-color: transparent;
    border-top-right-radius: $f-border-radius;
    border-bottom-right-radius: $f-border-radius;
    background-color: $primary-color-500;

    svg {
      width: $svg-dimention;
      height: $svg-dimention;
    }
  }
}

.f-file {
  input[type="file"] {
    display: none;
  }
}