.modal {
  position: fixed;
  z-index: 3;
  @include insert;
  @include opacity(false);
  transition: opacity $primary-transition;
  background-color: $opacity-color-100;

  &.active {
    @include opacity(true);
  }

  &.primary {
    @include flex-center-center;

    .modal-content {
      @include flex-center-center;
      position: relative;
      @include max-width(360px);
      min-height: 360px;
      max-height: 400px;
      padding: 20px;
      margin: 20px;
      border-radius: 8px;
      background-color: $neutral-color-50;
    }

    .modal-close {
      $dimention: 20px;

      position: absolute;
      top: $dimention;
      right: $dimention;
      @include square($dimention);
      cursor: pointer;
      border: none;
      background-color: $transparent-color;
      @include background-image("close.svg");

      &:hover,
      &:focus {
        opacity: 0.6;
        transition: $primary-transition;
      }
    }
  }

  &.secondary {
    $content-width: 480px;
    $content-width-sm: 320px;

    .modal-content {

      position: absolute;
      top: 0px;
      right: -$content-width;

      transform: translateX(0);
      transition: transform 0.5s ease 0s;

      display: flex;
      flex-direction: column;
      @include max-width($content-width);
      height: 100vh;
      padding: 32px;
      background-color: $neutral-color-50;
    }

    &.small .modal-content {
      right: -$content-width-sm;
      @include max-width($content-width-sm);
    }

    &.active .modal-content {
      transform: translateX(-$content-width);
    }

    &.small.active .modal-content {
      transform: translateX(-$content-width-sm);
    }

    $section-margin-bottom: 16px;

    .modal-header {
      @include flex-center-between;
      padding-bottom: $section-margin-bottom;
      margin-bottom: $section-margin-bottom;
      border-bottom: 1px solid $neutral-color-300;

      .modal-close {
        @include square(20px);
        cursor: pointer;
        border: none;
        background-color: $transparent-color;
        @include background-image("close.svg");

        &:hover,
        &:focus {
          opacity: 0.6;
          transition: opacity $primary-transition;
        }
      }
    }

    .modal-body {
      overflow-y: auto;
      margin-bottom: $section-margin-bottom;
    }

    .modal-footer {
      margin-top: auto;
    }
  }

  &.menu {
    nav .link {
      display: block;
      color: $primary-color-500;
      padding: 12px 16px;
      border-bottom: 1px solid $neutral-color-200;

      &:last-of-type {
        border-bottom: unset;
      }

      svg {
        position: relative;
        @include square(12px);
        margin-right: 12px;
        left: 0px;

        path {
          fill: $primary-color-500;
        }

        transition: left $primary-transition;
      }

      &:hover svg,
      &:focus svg {
        left: 6px;
      }
    }
  }

  &.cart-modal {
    .modal-content {
      padding: 20px;

      @include sm {
        padding: 32px;
      }
    }

    .cart-item {
      display: flex;
      min-height: 64px;
      gap: 8px;

      .img {
        @include square(48px);
        border-radius: 8px;
        overflow: hidden;
        align-self: flex-start;
        flex-shrink: 0;

        @include sm {
          @include square(64px);
        }
      }

      .cart-item-center {
        flex: auto;

        h3 {
          a {
            color: $neutral-color-800;
          }
        }

        .counter {
          margin-bottom: 8px;
        }

        .price {
          @include flex-align-center;
          gap: 6px;

          s {
            text-decoration-color: $red-color-500;
            text-decoration-thickness: 2px;
          }

          .discount {
            font-size: .75rem;
            line-height: 1rem;

            user-select: none;
            padding: 2px 4px;
            color: $neutral-color-50;
            background-color: $primary-color-600;
            border-radius: 4px;
          }
        }
      }

      .delete {
        @include reset-button;
        @include square(24px);
        @include background-image("circle-close.svg");
        flex-shrink: 0;
      }
    }

    hr {
      border: none;
      border-top: 1px solid $neutral-color-400;
    }

    .cart-total {
      .cart-total-item {
        @include flex-center-between;

        .price.tertiary {
          strong {
            font-size: 24px;
            height: auto;
            font-weight: 500;
          }
        }
      }
    }
  }
}