.social-links {
  @include flex-align-center;

  a {
    font-size: 0px;
  }

  img {
    $area: 20px;
    width: $area;
    height: $area;
    font-size: 12px;
  }

  .line {
    width: 1px;
    height: 16px;
    background-color: black;
    margin: 0px 12px;
  }
}