.text-xs {
  font-size: 0.75rem; // 12px
  line-height: 1rem; // 16px
}

.text-sm {
  font-size: 0.875rem; // 14px
  line-height: 1.25rem; // 20px
}

.text-base {
  font-size: 1rem; // 16px
  line-height: 1.5rem; // 24px
}

.text-lg {
  font-size: 1.125rem; // 18px
  line-height: 1.75rem; // 28px
}

.text-xl {
  font-size: 1.25rem; // 20px
  line-height: 1.75rem; // 28px
}

.text-2xl {
  font-size: 1.5rem; // 24px
  line-height: 2rem; // 32px
}

.text-3xl {
  font-size: 1.875rem; // 30px
  line-height: 2.25rem; // 36px
}

.text-4xl {
  font-size: 2.25rem; // 36px
  line-height: 2.5rem; // 40px
}

.text-5xl {
  font-size: 3rem; // 48px
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem; // 60px
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem; // 72px
  line-height: 1;
}

.text-8xl {
  font-size: 6rem; // 96px
  line-height: 1;
}

.text-9xl {
  font-size: 8rem; // 128px
  line-height: 1;
}

@each $bp, $vl in $breakpoints {
  @media (min-width: $vl) {
    .#{$bp}\:text-xs {
      font-size: 0.75rem; // 12px
      line-height: 1rem; // 16px
    }

    .#{$bp}\:text-sm {
      font-size: 0.875rem; // 14px
      line-height: 1.25rem; // 20px
    }

    .#{$bp}\:text-base {
      font-size: 1rem; // 16px
      line-height: 1.5rem; // 24px
    }

    .#{$bp}\:text-lg {
      font-size: 1.125rem; // 18px
      line-height: 1.75rem; // 28px
    }

    .#{$bp}\:text-xl {
      font-size: 1.25rem; // 20px
      line-height: 1.75rem; // 28px
    }

    .#{$bp}\:text-2xl {
      font-size: 1.5rem; // 24px
      line-height: 2rem; // 32px
    }

    .#{$bp}\:text-3xl {
      font-size: 1.875rem; // 30px
      line-height: 2.25rem; // 36px
    }

    .#{$bp}\:text-4xl {
      font-size: 2.25rem; // 36px
      line-height: 2.5rem; // 40px
    }

    .#{$bp}\:text-5xl {
      font-size: 3rem; // 48px
      line-height: 1;
    }

    .#{$bp}\:text-6xl {
      font-size: 3.75rem; // 60px
      line-height: 1;
    }

    .#{$bp}\:text-7xl {
      font-size: 4.5rem; // 72px
      line-height: 1;
    }

    .#{$bp}\:text-8xl {
      font-size: 6rem; // 96px
      line-height: 1;
    }

    .#{$bp}\:text-9xl {
      font-size: 8rem; // 128px
      line-height: 1;
    }
  }
}

.text-neutral-50 {
  color: $neutral-color-50;
}

.text-neutral-100 {
  color: $neutral-color-100;
}

.text-neutral-200 {
  color: $neutral-color-200;
}

.text-neutral-300 {
  color: $neutral-color-300;
}

.text-neutral-400 {
  color: $neutral-color-400;
}

.text-neutral-500 {
  color: $neutral-color-500;
}

.text-neutral-600 {
  color: $neutral-color-600;
}

.text-neutral-700 {
  color: $neutral-color-700;
}

.text-neutral-800 {
  color: $neutral-color-800;
}

.text-neutral-900 {
  color: $neutral-color-900;
}

.text-neutral-950 {
  color: $neutral-color-950;
}

.text-primary-50 {
  color: $primary-color-50;
}

.text-primary-100 {
  color: $primary-color-100;
}

.text-primary-200 {
  color: $primary-color-200;
}

.text-primary-300 {
  color: $primary-color-300;
}

.text-primary-400 {
  color: $primary-color-400;
}

.text-primary-500 {
  color: $primary-color-500;
}

.text-primary-600 {
  color: $primary-color-600;
}

.text-primary-700 {
  color: $primary-color-700;
}

.text-primary-800 {
  color: $primary-color-800;
}

.text-primary-900 {
  color: $primary-color-900;
}

.text-primary-950 {
  color: $primary-color-950;
}

@each $bp, $vl in $breakpoints {
  @media (min-width: $vl) {

    .#{$bp}\:text-neutral-50 {
      color: $neutral-color-50;
    }

    .#{$bp}\:text-neutral-100 {
      color: $neutral-color-100;
    }

    .#{$bp}\:text-neutral-200 {
      color: $neutral-color-200;
    }

    .#{$bp}\:text-neutral-300 {
      color: $neutral-color-300;
    }

    .#{$bp}\:text-neutral-400 {
      color: $neutral-color-400;
    }

    .#{$bp}\:text-neutral-500 {
      color: $neutral-color-500;
    }

    .#{$bp}\:text-neutral-600 {
      color: $neutral-color-600;
    }

    .#{$bp}\:text-neutral-700 {
      color: $neutral-color-700;
    }

    .#{$bp}\:text-neutral-800 {
      color: $neutral-color-800;
    }

    .#{$bp}\:text-neutral-900 {
      color: $neutral-color-900;
    }

    .#{$bp}\:text-neutral-950 {
      color: $neutral-color-950;
    }

    .#{$bp}\:text-primary-50 {
      color: $primary-color-50;
    }

    .#{$bp}\:text-primary-100 {
      color: $primary-color-100;
    }

    .#{$bp}\:text-primary-200 {
      color: $primary-color-200;
    }

    .#{$bp}\:text-primary-300 {
      color: $primary-color-300;
    }

    .#{$bp}\:text-primary-400 {
      color: $primary-color-400;
    }

    .#{$bp}\:text-primary-500 {
      color: $primary-color-500;
    }

    .#{$bp}\:text-primary-600 {
      color: $primary-color-600;
    }

    .#{$bp}\:text-primary-700 {
      color: $primary-color-700;
    }

    .#{$bp}\:text-primary-800 {
      color: $primary-color-800;
    }

    .#{$bp}\:text-primary-900 {
      color: $primary-color-900;
    }

    .#{$bp}\:text-primary-950 {
      color: $primary-color-950;
    }
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@each $bp, $vl in $breakpoints {
  @media (min-width: $vl) {
    .#{$bp}\:text-center {
      text-align: center;
    }

    .#{$bp}\:text-left {
      text-align: left;
    }

    .#{$bp}\:text-right {
      text-align: right;
    }
  }
}