<footer class="footer secondary">
  <div class="container lg:container">
    <div class="footer-top">
      <div class="g-root g-gap-8">
        <div class="g-row">
          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl mb-1">Address</h3>
              <p>
                <a href="/">
                  Lorem ipsum dolor sit amet <br>
                  consectetur adipisicing elit.
                </a>
              </p>
            </div>
          </div>

          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl mb-1">Contact</h3>
              <p class="mb-1"><a href="/">+55 (21) 4002-8922</a></p>
              <p><a href="/">email@email.com</a></p>
            </div>
          </div>

          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl mb-1">Opening Hours</h3>
              <p class="mb-1">
                <strong>Ter-Dom:</strong> 19h as 00h
              </p>
              <p>
                <strong>Segunda:</strong> Fechado
              </p>
            </div>
          </div>

          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl mb-1">Follow Us</h3>
              <div class="social-links">

                {% if whatsapp %}
                <a href="{{whatsapp_link}}" target="_blank" title="WhatsApp">
                  <img src="../../../stories/assets/whatsapp-white.svg" alt="WhatsApp">
                </a>
                {% endif %}
                {% if facebook %}
                <a href="{{facebook_link}}" target="_blank" title="Facebook">
                  <img src="../../../stories/assets/facebook-white.svg" alt="Facebook">
                </a>
                {% endif %}
                {% if instagram %}
                <a href="{{instagram_link}}" target="_blank" title="Instagram">
                  <img src="../../../stories/assets/instagram-white.svg" alt="Instagram">
                </a>
                {% endif %}
                {% if linkedin %}
                <a href="{{linkedin_link}}" target="_blank" title="LinkedIn">
                  <img src="../../../stories/assets/linkedin-white.svg" alt="LinkedIn">
                </a>
                {% endif %}
                {% if x %}
                <a href="{{x_link}}" target="_blank" title="X">
                  <img src="../../../stories/assets/x-white.svg" alt="X">
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <p class="text-center">© 2023 Copyright: Hello World</p>
    </div>
  </div>
</footer>