.header.primary {
  position: relative;
  background-color: $neutral-color-50;
  box-shadow: $primary-box-shadow;

  .container {
    height: 64px;
    @include flex-align-center;
  }

  .logo {
    font-size: 1.75rem;
    color: $slate-color-500;
  }
}