<ul class="list primary">
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid repudiandae voluptates possimus id fugiat nemo est
    libero pariatur nobis, sint at harum illum recusandae laboriosam ex. Illum ab quia labore.
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid repudiandae voluptates possimus id fugiat nemo est
    libero pariatur nobis, sint at harum illum recusandae laboriosam ex. Illum ab quia labore.
  </li>
</ul>