<div class="g-root g-gap-2">
  <div class="g-row gx-center">
    {% for item in [1,2] %}
    <div class="g-item-12 sm:g-item-4">
      <div>gx-center</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="g-root g-gap-2">
  <div class="g-row gx-left">
    {% for item in [1,2] %}
    <div class="g-item-12 sm:g-item-4">
      <div>gx-left</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="g-root g-gap-2">
  <div class="g-row gx-right">
    {% for item in [1,2] %}
    <div class="g-item-12 sm:g-item-4">
      <div>gx-right</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="g-root g-gap-2">
  <div class="g-row sm:gx-right md:gx-center lg:gx-left">
    {% for item in [1,2] %}
    <div class="g-item-12 sm:g-item-4">
      <div>responsive</div>
    </div>
    {% endfor %}
  </div>
</div>