<button data-modal-open="#modal-primary" class="gn-button pm-button">
  Open modal
</button>
<div class="modal primary" id="modal-primary">
  <div class="modal-content">
    <button class="close" data-modal-close="#modal-primary"></button>
    <div>
      <h2>Primary Modal</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
    </div>
  </div>
</div>