<div class="modal secondary active">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Secondary modal</h2>
      <button class="modal-close"></button>
    </div>
    <div class="modal-body">
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
    </div>
    <div class="modal-footer">
      <button class="gn-button pm-button">Close modal</button>
    </div>
  </div>
</div>