<button data-modal-open="#modal-secondary" class="gn-button pm-button">
  Open modal
</button>
<div class="modal secondary" id="modal-secondary">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Secondary modal</h2>
      <button class="close" data-modal-close="#modal-secondary"></button>
    </div>
    <div class="modal-body">
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p style="margin-bottom: 16px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis minima nostrum. Quos, fugiat! Modi
        distinctio numquam maxime aperiam et praesentium hic similique! Adipisci amet ex earum ipsum eius delectus!
      </p>
    </div>
    <div class="modal-footer">
      <button class="gn-button pm-button" data-modal-close="#modal-secondary">Close modal</button>
    </div>
  </div>
</div>