<div>
  <button class="accordion primary" data-accordion>
    <div class="label">
      <h3 class="text-base sm:text-lg text-primary-900">Lorem ipsum dolor sit amet consectetur.</h3>
      <span class="arrow"></span>
    </div>
    <div class="content">
      <div>
        <p class="text-base text-neutral-600">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Fugit corrupti ut dignissimos magni delectus! Cupiditate
          ratione quo minima incidunt voluptas? Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Aut, doloremque dolorum
          voluptatibus non molestias minima. Eos, consectetur dolorem
          deleniti illo impedit reiciendis doloribus nisi! Debitis non
          adipisci sed ea autem?
        </p>
      </div>
    </div>
  </button>
  <button class="accordion primary" data-accordion>
    <div class="label">
      <h3 class="text-base sm:text-lg text-primary-900">Lorem ipsum dolor sit amet consectetur.</h3>
      <span class="arrow"></span>
    </div>
    <div class="content">
      <div>
        <p class="text-base text-neutral-600">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Fugit corrupti ut dignissimos magni delectus! Cupiditate
          ratione quo minima incidunt voluptas? Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Aut, doloremque dolorum
          voluptatibus non molestias minima. Eos, consectetur dolorem
          deleniti illo impedit reiciendis doloribus nisi! Debitis non
          adipisci sed ea autem?
        </p>
      </div>
    </div>
  </button>
  <button class="accordion primary" data-accordion>
    <div class="label">
      <h3 class="text-base sm:text-lg text-primary-900">Lorem ipsum dolor sit amet consectetur.</h3>
      <span class="arrow"></span>
    </div>
    <div class="content">
      <div>
        <p class="text-base text-neutral-600">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Fugit corrupti ut dignissimos magni delectus! Cupiditate
          ratione quo minima incidunt voluptas? Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Aut, doloremque dolorum
          voluptatibus non molestias minima. Eos, consectetur dolorem
          deleniti illo impedit reiciendis doloribus nisi! Debitis non
          adipisci sed ea autem?
        </p>
      </div>
    </div>
  </button>
</div>