<article class="card primary">
  <figure class="img">
    <img src="../../../stories/assets/placeholder-1.svg" alt="Icon">
  </figure>
  <div class="description">
    <h3 class="title">
      {{title}}
    </h3>
    <p class="price tertiary">
      <span class="left">
        <span>R$</span>
      </span>
      <strong>
        {{price}}
      </strong>
      <span class="right">
        <span>/mês</span>
      </span>
    </p>
    <p class="subtitle">
      {{description}}
    </p>
    <a class="gn-button pm-button" href="/">
      {{linkLabel}}
    </a>
  </div>
</article>